.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.calc{
  border: solid  cadetblue;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-content: center;
  border-radius: 10%;
  margin:auto;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  align-content: center;
}

.b{
  width: fit-content;
  border-radius: 30%;
  background-color: darkgray;
}

.b:hover{
  color: chartreuse;
}

.calcbtn{
  background-color:cadetblue;
  border-radius: 30%;
  height: 20px;
  width: 25px;
  justify-content: center;
  align-content: center;
  text-align-all: center;
}

.calcbtn:hover{
  color:chartreuse;
}
